[submodule "_sass/alembic"]
	path = _sass/alembic
	url = https://github.com/tolsen25/alembic.git
[submodule "_includes"]
	path = _includes
	url = git@github.com:tolsen25/alembic.git
[submodule "_layouts"]
	path = _layouts
	url = git@github.com:tolsen25/alembic.git
